{{ define "main" }}
<h1>{{ .Site.Title }}</h1>
<h2>Disfruta de nuestro legado literario.</h2>
<p>Descárgate en tu libro electrónico cualquiera de las grandes obras en castellano que se encuentran en dominio público. En Acervo encontrarás una selección de títulos de la literatura española e hispanoamericana, desde los clásicos hasta obras menos conocidas, todas disponibles para su descarga gratuita en formatos compatibles con tu dispositivo de lectura.</p>
<p>Biblioteca digital de obras en dominio público en español.</p>
{{ end }}